.navigation img{
 float:left;
 margin-left:30px;
 margin-top:10px;
}
.container1 {
    width:50%;
   margin:auto;
   position: relative;
}
/*for phones and small devices*/
@media only screen and (max-width:600px){
         .container1{
             width:100%;
         }
         
         .container3{
           display: none;
         }
         .columnd{
             width:100%;
             margin-bottom:10px;
             border-bottom: 1px dashed green;
         }
         .navbar_a , .navbar_b{
             display:none;
         }
         .navigation ul{display:none;}
         .navigation a.icon{
             float:left;
             display:block;
         }
         .navigation .responsive {position:relative;}
         .topnav .responsive a.icon {
             position:absolute;
             right:0;
             top:0;
         }
         .navigation  .responsive a{
             float:none;
             display:block;
             text-align:left;
         }
         .columnd li{
             display:block;
         }
}
/*for portrait tablets and large phones*/
@media only screen and (min-width:600px){
    .container1{
        width:100%;
    }
    
    .container3{
      display: none;
    } 
 .container3 li{
     display: block;
 }
 .columnd{
    
        width: 49.99999%;
        margin: 6px 0;
 }
       .navigation img{
           display:none;
       }
}
/*for medium devices(landscape tablets)*/
@media only screen and (min-width:768px){
   
   
}

/*for desktops/laptops*/
@media only screen and (min-width:992px){
.columnd{
    width:25%;
}          
.container3{
    display: initial;
} 
.container1{
width:50%;
}      
.navigation img{
    display:none;
}  
}
/*for extra large laptops and desktops 1200px and up*/
@media only screen and (min-width:1200px){

}

.container2{
    padding:40px;
    text-align: justify;
    
}

.container2 h2 {
    padding:20px;
    text-align:center;
    color:rgb(2, 87, 2)
}
.container2 h3{
    padding:20px;
    text-align:center;
    color:rgb(11, 170, 11);
}

.container3{
    color:rgb(39, 39, 39);
    background-color: rgb(235, 235, 235);
    width:40%;
    height:30%;
    position: absolute;
    left:100%;
    top:5px;
    padding:20px;
    padding-top: 40px;
}
.container3 {
    color: green;
    box-shadow: 0 0px 10px  black;
    text-align:center;
    list-style: none;
}
.container3{
    background-image: url(img/2.jpg);
}
.container3 h3{
padding:20px;
text-align: center;
}