*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.navbar{
    position:relative;
    
}
.navbar_a p{
display:inline;
margin-right:10px;
margin-left:20px;
color:white;

}

.navbar_a{
text-align:left;
background-color:#0e8518;
padding:8px;
width:400px;
float:right;
border-bottom-left-radius: 33px;
}

.navbar_b img{
margin-top:20px;
margin-left:50px;
width:40%;

}
.navbar_b{
   background-color: rgb(22, 5, 5);
 
}
/*use incase of additional information
.nav_extra{
    text-align: right;

}
.nav_extra ul{
    text-decoration:none;
    padding-bottom:20px;
    margin-right:30px;
}
.nav_extra li{
    display:inline;
    color:white;
    margin-right:30px;
    
}
*/

.navigation{
width:100%;
background-color: #0d8d18;
box-shadow: 0px 0px 10px rgb(22, 5, 5);
}
.navigation ul{
 width:100%;
margin: auto;
text-decoration:none;
text-align:center;
padding:18px;

}

.navigation li {
    display:inline;
    color: white;
    padding:30px;
    font-size:17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.navigation a{
 color:white;
 text-decoration:none;

 
}
.navigation a:hover{
text-decoration: underline;

}

.mySlides {display: none}


/* Slideshow container */
.slideshow-container {
  box-sizing: border-box;
  position: relative;
  margin: auto;
  height: 25%;
  width:100%;
  
}
.slideshow-container img{
    vertical-align: middle;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 50px;
  padding: 8px 18px;
  position: absolute;
  bottom: 70%;
  margin-left:15%;
  text-align: center;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.text2{
  color: #f2f2f2;
  font-size: 50px;
  padding: 8px 18px;
  position: absolute;
  bottom: 85%;
  margin-left:15%;
  text-align: center;
  font-style: italic;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}



/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 800px) {
  .prev, .next,.text {font-size: 16px}
   
  .slideshow-container{
    width: 100%;
  }
}


/*column and row for short introduction in two divisions*/
.row:after{
  content:"";
  display:table;
  clear:both;
  width:100%;
}

.column{
  float:left;
  width:50%;
  padding:30px 80px 20px 200px;
  background-color: #dae7db;
 font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.column img{
  width:80px;
  text-align: center;
}
.column p{
  font-size:16px;
  text-align: justify;
}
.column2 img{
  width:70px;
  text-align: center;
}
/*second column with maroon background*/
.column2{
  float:left;
  width:50%;
background-color:  rgb(22, 5, 5);
padding-right:200px;
padding-left:80px;
padding-bottom:20px;
padding-top:30px;
color:white;
font-size: 16px;
font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*end of row and column*/

/*text before 4 row division*/
.align{
  text-align: center;
  padding:30px;
  margin-left:20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  
  
}
.align p{
  font-size:28px;
  display: inline;
}
.green{
  color: #0d8d18;
}
/*4 division row and column covering all services performed*/
.overow:after{
  content:"";
  display:table;
  clear:both;
}
.overow{
 
  width:100%;
 margin-left:182px;
margin-top:40px;
}
.columna{
  width: 18%;
  float:left;
 margin:10px;
 background-color:#dae7dbcc;
}
.columna:hover{
  background-color:rgba(0, 0, 0, 0.068);
  
}
.columna a{
  text-decoration: none;
}

.image img{
  width:80px;
  height:80px;
 margin-left:80px;
}
.columna h3{
  text-align: center;
  margin:10px;
  color: rgb(49, 49, 49);
}
.p {
  text-align: center;
  font-size: 20px;
  color: rgb(66, 66, 66)
}
.sp{
  color: #0d8d18;
  text-align:center;
  margin:10px;
}
.split{
  position: relative;
}
.imagery img{
  position:absolute;
top:25%;
left:47%;
}
/*column and row for nav imgaes*/
.row3:after{
  content:"";
  display:table;
  clear:both;
  width:100%;
 
}
.row3{
  margin:0 4% 0 12%;
  text-align: justify;
}
.columnc{
  width:25%;
  float:left;
 margin:30px;
}
.columnc a{
  color: #0ba318;
  text-decoration:none;
}
.columnc a:hover{
  text-decoration: underline;
  color:darkgreen;
}
.columnc img{
  width:270px;
margin-top:10px;
}
.columnc h3 {
  color: rgb(49, 49, 49);
  margin: 10px 0 10px;
}
.columnc p{
  color:rgb(66, 66, 66);
}
.columnc h4{
  color: rgb(49, 49, 49);
  margin: 10px 0 10px; 
}

/*footer row and column*/
.rowd:after{
  clear:both;
  display:table;
  content:"";
}
.columnd{
  width:25%;
  float:left;
}
footer{
  color:white;
  background-color: rgb(22, 5, 5);
  padding:60px 100px 60px 100px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer a{
  color:white;
  text-decoration:none;
}
footer a:hover{
  color:green;
}
.columnd h3{
   padding-bottom:20px;
   color: #10dd21;
}
.columnd ul li{
  margin-bottom:10px;
  
}
form{
  border:none;
}
fieldset{
  border:none;
}

input{
  border-radius: 7%;
  padding:8px;
  width:120px;
  background-color:rgb(22, 5, 5);
  border:1px solid white;
  color:white;
}
.wide{
height:80px;
width:247px;

}

button{
  padding:10px;
  background-color: #10dd21;
  color:white;
  border-radius: 10%;
  border: none;
  margin-top:10px;
  width:80px;
}
button:hover{
  background-color:rgb(2, 92, 2);
}
.copyright{

  padding:20px 0 20px 100px;
  color:white;
  background-color: #0ba318;
 
}